/* ====font===== */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Raleway:wght@600;900&display=swap");
/* ======end font======= */
/* ===== variables ======= */
:root {
  --clr-primery: #023e8a;
  --clr-primery-light: #0077b6;
  --clr-secondary-light: #b4d6e95e;
  --clr-dark: #273f49;
  --clr-gray: #f6f8fae7;
  --clr-white: #fff;
  --clr-black: #000;
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Comfortaa", "cursive";
  --transition: all 0.3s linear;
  --readius: 1rem;
}
/* ====== end of variables ======== */
/* ====== basic setup ======== */
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-primery);
  line-height: 1.5;
  font-size: 0.875rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  color: var(--clr-white);
  background: var(--clr-primery-light);
  padding: 5px 20px;
  border-radius: var(--readius);
  text-decoration: none;
}
.icon {
  font-size: 2rem;
  color: var(--clr-primery-light);
}
h2,
h3,
h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  color: var(--clr-primery-light);
}
p {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
}

/* ====== end of basic setup ======== */
/* ===== Nav-bar ======= */
.nav {
  z-index: 1;
  position: absolute;
  height: 20vh;
  width: 100%;
}
.nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 7%;
}
.nav-list-cont {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  padding: 10px 30px;
  text-decoration: none;
  list-style: none;
}
li > a {
  text-decoration: none;
  color: var(--clr-white);
}
li:hover {
  transition: all linear 0.4s;
  background: rgba(255, 255, 255, 0.178);
}
@media screen and (min-width: 350px) {
  .nav-list-cont {
    flex-direction: column;
    margin-right: -1rem;
    justify-content: flex-end;
  }
  .nav-logo > img {
    height: 10rem;
    margin-left: -1.3rem;
  }
  .nav-logo {
    height: 1.5rem;
  }
  .nav-logo > img:hover {
    transition: all linear 0.5s;
    background: #0076b63b;
    border-radius: 50%;
  }
  li > a {
    padding: 1px 1px;
  }
}
@media screen and (min-width: 639px) {
  .nav-list-cont {
    flex-direction: row;
  }
  .nav-logo {
    margin-left: -2rem;
  }
}
@media screen and (min-width: 1100px) {
  .nav-list-cont {
    width: 40%;
    justify-content: space-between;
  }
  .nav-logo > img {
    margin-left: -5rem;
  }
  li > a {
    padding: 5px 20px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1100px) {
  li {
    margin-right: -60px;
  }
}
/* ========== end of nav ========== */
/* ====== Hero section========= */
.hero {
  width: 100%;
  height: 80vh;
  background: url(./images/photo-one.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero > h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--clr-white);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
}
.hero > h4 {
  color: var(--clr-white);
  font-weight: 300;
  margin-top: -0.7rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.247);
}
.hero-icon {
  margin-top: 2.3rem;
  padding: 0.1rem 1rem;
  font-size: 2rem;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  border-radius: 50%;
}
.hero-icon:hover {
  transition: all linear 0.4s;
  background: rgba(255, 255, 255, 0.514);
}
.line {
  border: 3px solid var(--clr-primery-light);
  background: var(--clr-primery-light);
  width: 100%;
}
@media screen and (min-width: 350px) {
  .hero > h1 {
    margin-top: 10rem;
    font-size: 1.5rem;
  }
  .hero > h4 {
    text-align: center;
    font-size: 0.9rem;
  }
  .hero-icon {
    font-size: 1.5rem;
    padding: 0.1rem 0.8rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 350px) {
  .hero > h1 {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 850px) {
  .hero-icon {
    padding: 0.1rem 1rem;
    font-size: 2rem;
    border-radius: 50%;
  }
  .hero > h1 {
    margin-top: 2rem;
    font-size: 3rem;
  }
  .hero > h4 {
    font-size: 1rem;
  }
}
/* ====== end of hero ====== */
/* ======= about section ======== */
.about-section {
  background: url(./images/photo-three.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-card-one,
.about-card-two,
.about-card-three {
  margin: 10px 3rem;
}
.card {
  margin-bottom: 10px;
}
.card > h4 {
  margin-bottom: 5px;
}
@media screen and (min-width: 350px) {
  .about-section {
    flex-wrap: wrap;
  }
  .about-container {
    width: 100%;
    margin: 10px 0px;
    flex-direction: column;
  }
}
@media screen and (orientation: landscape) and (min-width: 350px) {
  .about-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 850px) {
  .about-container {
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (orientation: landscape) and (min-width: 850px) {
}
@media screen and (min-width: 1150px) {
  .about-section {
    width: 100%;
  }
  .about-container {
    width: 70%;
    margin: 40px 0px;
  }
}
/* ======= end of about section ======== */
/* ======= services section ======== */
.services {
  width: 100%;
  background: var(--clr-white);
  margin: 40px 0;
}
.services-container {
  width: 65%;
}
.services-text {
  margin: 2px 15%;
  text-align: center;
}
.service {
  margin: 1rem;
  padding: 1rem;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--clr-white);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0.5px #d6dde4;
}
.icon-services {
  align-items: center;
  color: #b4d6e95e;
  font-size: 4rem;
}
.fa-atom {
  color: #b4d6e95e;
}
.services-title {
  font-size: 1.5rem;
  color: #0077b6;
}
@media screen and (orientation: portrait) {
  .services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .services-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .services-card-container {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .fa-atom {
    color: #b4d6e95e;
  }
  .icon-services {
    margin-left: 1rem;
  }
  .services-title {
    margin-left: -5rem;
  }
}
@media screen and (orientation: landscape) {
  .services-title {
    font-size: 1.5rem;
    margin-top: -4.2rem;
  }
  .services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
  .service {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 44vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
    padding: 15px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1023px) {
  .services-card-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }
  .service {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 30vh;
    width: 22%;
  }
}
/* ==== end of services section ===== */
/* ======= statistics section ======== */
.statistics {
  width: 100%;
  background: var(--clr-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics-container {
  width: 80%;
  flex-direction: column;
}
.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
}
.stat > span {
  margin-top: -1.5rem;
  margin-right: 1.2rem;
}
.stat h1 {
  color: var(--clr-primery-light);
  font-size: 1.5rem;
}
@media screen and (min-width: 350px) and (orientation: landscape) {
  .stat {
    width: 48%;
    align-items: baseline;
  }
  .statistics-container {
    width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .stat {
    width: 24%;
    margin: 0 0.1rem;
  }
  .statistics-container {
    width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
  }
}
/* ==== end of statistics section ======== */
/* ======== call section ======== */
.call-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url(./images/photo-four.jpg);
  background-size: cover;
}
.call-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.call-container > p {
  margin: 5px;
  text-align: center;
}
.call-container > h1 {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.534);
  font-size: 1.5rem;
  margin: 0.5rem;
}
.call-btn {
  background: #0076b634;
  margin-top: 10px;
  border: 1px solid var(--clr-white);
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .call-container {
    width: 75%;
  }
  .call-container > h1 {
    color: var(--clr-white);

    font-size: 2rem;
  }
}
/* ==== end of call section ======== */
/* ===== portfolio section ====== */
.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.icon-portfolio {
  display: flex;
  justify-content: center;
  color: var(--clr-secondary-light);
  font-size: 4rem;
  margin: 3rem 0;
}
.portfolio-title {
  color: var(--clr-primery-light);
  text-align: center;
  margin-top: -5.6rem;
  margin-bottom: 2rem;
}
.portfolio-text {
  text-align: center;
  margin-bottom: 2rem;
}
.img-gray {
  filter: grayscale(1);
}
@media screen and (min-width: 350px) and (orientation: portrait) {
  .portfolio-link-container {
    width: 100%;
    overflow: hidden;
  }
  .port-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
@media screen and (min-width: 350px) and (orientation: landscape) {
  .portfolio-link-container {
    column-count: 3;
    width: 100%;
  }
  .portfolio-link-container > a {
    width: 100%;
    height: auto;
  }
  .port-img {
    width: 25vw;
    height: 40vh;
    object-fit: cover;
    padding: 10px;
  }
  .port-img:hover {
    transform: scale(1.01);
    transition: all linear 0.5s;
  }
}
/* ===== end of portfolio section ====== */
/* ===== team section ====== */
.team {
  background-color: var(--clr-gray);
  width: 100%;
  display: flex;
  justify-content: center;
}
.team-container {
  width: 75%;
  text-align: center;
}
.icon-team {
  color: var(--clr-secondary-light);
  font-size: 4rem;
}
.team-title {
  color: var(--clr-primery-light);
  font-size: 1.5rem;
  margin-top: -3.6rem;
  margin-bottom: 2rem;
}
.team-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-card {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.team-card-img {
  max-width: 100%;
  max-height: 100%;
}
.team-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: var(--clr-white);
  margin-top: -3rem;
  line-height: 2rem;
  position: relative;
  z-index: 1;
  align-self: center;
}
.team-info > span {
  display: block;
  align-self: center;
  width: 30%;
  border: 1px solid var(--clr-secondary-light);
}
@media screen and (min-width: 350px) and (orientation: landscape) {
  .team-container {
    margin: 2rem 0;
  }
  .team-card-container {
    margin: 2.5rem 0;
    flex-direction: row;
  }
  .team-card {
    margin: 2px;
  }
  .team-info {
    margin-top: -1.2rem;
    line-height: 1rem;
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .team-container {
    margin: 2.5rem 0;
  }
  .team-text {
    margin: 2rem 0;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .team-container {
    margin: 2rem 0;
  }
  .team-card {
    margin: 5px;
  }
  .team-info {
    line-height: 1.2rem;
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .team-card {
    margin: 10px;
  }
  .team-info {
    line-height: 1.5rem;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .team-info {
    line-height: 1.8rem;
  }
}
/* ===== end of team section ====== */
/* ===== contact section ====== */
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-container {
  margin: 40px 0;
  width: 75%;
  text-align: center;
}
.icon-contact {
  color: var(--clr-secondary-light);
  font-size: 4rem;
}
.contact-title {
  color: var(--clr-primery-light);
  font-size: 1.5rem;
  margin-top: -3.6rem;
  margin-bottom: 2rem;
}
.contact-card-container {
  display: flex;
  flex-direction: column;
}
.contact-crd {
  margin: 5px;
  background: var(--clr-gray);
}
.contact-crd > h3 {
  color: var(--clr-dark);
}
.contact-crd > h4 {
  color: var(--clr-dark);
}
.contact-card-five {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-form {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-name,
.input-email,
.input-subject,
.input-message {
  margin: 3px 0;
  line-height: 1.5rem;
}
.send {
  line-height: 1.5rem;
  border-radius: 0;
}
label {
  display: none;
}
input,
textarea {
  border: 1px solid rgba(51, 49, 49, 0.247);
  border-radius: 2px;
}
@media screen and (min-width: 350px) and (orientation: landscape) {
  .contact-card-container {
    flex-direction: row;
    text-align: center;
  }
  .crd-one,
  .crd-two,
  .crd-three {
    flex-basis: 33%;
  }
  .contact-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  textarea {
    height: 5rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .contact-map-and-form-container {
    display: flex;
    flex-direction: row;
    height: 75%;
    padding-bottom: 50px;
  }
  .contact-card-maps {
    width: 100%;
  }
  .contact-card-one,
  .contact-card-two,
  .contact-card-three {
    padding: 2rem;
  }
  .crd-one {
    flex-basis: 51%;
  }
  .crd-two,
  .crd-three {
    flex-basis: 25%;
  }
  .contact-form {
    width: 100%;
    padding: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 11% 11% 50% 12%;
  }
  .input-name {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .input-name:hover {
    color: var(--clr-primery);
    border: 1px solid blue;
    transition: all linear 1s;
  }
  .input-email {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .input-email:hover {
    color: var(--clr-primery);
    border: 1px solid blue;
    transition: all linear 1s;
  }
  .input-subject {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .input-subject:hover {
    color: var(--clr-primery);
    border: 1px solid blue;
    transition: all linear 1s;
  }
  .input-message {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .input-message:hover {
    color: var(--clr-primery);
    border: 1px solid blue;
    transition: all linear 1s;
  }
  .send {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .send:hover {
    color: var(--clr-primery-light);
    background: var(--clr-white);
    transition: all linear 0.5s;
  }
  textarea {
    height: 8rem;
  }
}
/* ===== end contact section ====== */
/* ======== footer ==========*/
.footer {
  display: flex;
  justify-content: center;
  background: var(--clr-dark);
  width: 100%;
  padding-bottom: 30px;
  margin-top: 2rem;
}
.footer-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* footer card */
.foot-crd li {
  color: var(--clr-gray);
}
.foot-crd li::before {
  content: "> ";
  color: var(--clr-primery-light);
}
.foot-crd h4 {
  padding-top: 1rem;
  color: var(--clr-gray);
  font-size: 2rem;
  text-align: center;
}
/* footer card one */
.footer-card-one {
  margin-top: -2rem;
  background: var(--clr-white);
  text-align: center;
  border-radius: 5px;
}
.color-line {
  background-color: var(--clr-primery-light);
  display: block;
  border: 2px solid #0077b6;
}
.footer-title {
  font-size: 2rem;
}
.footer-email::before {
  content: "Email: ";
  font-weight: bold;
}
.social-icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
}
.social-icon > a {
  color: var(--clr-dark);
}
.social-icon > a:hover {
  color: #023e8a;
}
/* footer card four */
.footer-card-four p {
  color: var(--clr-gray);
  text-align: justify;
  margin-bottom: 2rem;
}
.news-btn {
  padding: 10px 3rem;
  border-radius: 2px;
}
.news-btn:hover {
  color: var(--clr-primery-light);
  background: var(--clr-white);
  border: 1px solid var(--clr-primery-light);
  transition: all linear 0.5s;
}
@media screen and (min-width: 350px) and (orientation: landscape) {
  .footer-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .foot-crd {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 6rem;
  }
  .footer-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .foot,
  .foot-crd {
    width: 20.8%;
  }
  .foot-crd li {
    margin-right: 1rem;
  }
}
/* === footer-patch === */
.footer-patch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--clr-dark);
  width: 100%;
  padding-bottom: 2rem;
}
.footer-patch > h4,
h6 {
  color: var(--clr-gray);
}
h6 > span {
  color: var(--clr-primery-light);
}
.line-footer {
  display: flex;
  justify-content: center;
}
.line-footer > span {
  width: 75%;
  color: #0077b6;
  border: 1px solid;
}
/* === end of footer-patch === */
