/* ====font===== */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Raleway:wght@600;900&display=swap");
/* ======end font======= */
/* ===== variables ======= */
:root {
  --clr-primery: #023e8a;
  --clr-primery-light: #0077b6;
  --clr-gray: #ebf0f3;
  --clr-white: #fff;
  --clr-black: #000;
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Comfortaa", "cursive";
  --transition: all 0.3s linear;
  --readius: 1rem;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-primery);
  line-height: 1.5;
  font-size: 0.875rem;
}
/* ====== end of variables ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  color: var(--clr-white);
  background: var(--clr-primery-light);
  padding: 5px 20px;
  border-radius: var(--readius);
  text-decoration: none;
}
/* ===== Nav-bar ======= */
.nav {
  height: 78.5vh;
  width: 100%;
}
.nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 7%;
}
.nav-logo {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 5px;
}
.nav-list-cont {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  padding: 10px 30px;
  text-decoration: none;
  list-style: none;
}
li > a {
  text-decoration: none;
  color: var(--clr-white);
}
li:hover {
  transition: all linear 0.4s;
  background: rgba(255, 255, 255, 0.178);
}
@media screen and (min-width: 350px) {
  .nav-list-cont {
    flex-direction: column;
    margin-right: -1rem;
    justify-content: flex-end;
  }
  li > a {
    padding: 1px 1px;
  }
}
@media screen and (min-width: 650px) {
  .nav-list-cont {
    flex-direction: row;
  }
  .nav-logo {
    margin-left: -2.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .nav-list-cont {
    width: 40%;
    justify-content: space-between;
  }
  li > a {
    padding: 5px 20px;
  }
}
/* ========== end of nav ========== */
/* ====== Hero section========= */
.hero {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 80vh;
  background: url(./img/photo-one.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero > h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--clr-white);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
}
.hero > h4 {
  color: var(--clr-white);
  font-weight: 300;
  margin-top: -0.7rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.247);
}
.hero-icon {
  margin-top: 2.3rem;
  padding: 0.1rem 1rem;
  font-size: 2rem;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  border-radius: 50%;
}
.hero-icon:hover {
  transition: all linear 0.4s;
  background: rgba(255, 255, 255, 0.514);
}
.line {
  background: #023d8a8a;
  height: 4px;
  width: 100%;
}
@media screen and (min-width: 350px) {
  .hero > h1 {
    margin-top: 10rem;
    font-size: 1.5rem;
  }
  .hero > h4 {
    text-align: center;
    font-size: 0.9rem;
  }
  .hero-icon {
    font-size: 1.5rem;
    padding: 0.1rem 0.8rem;
  }
}
@media screen and (min-width: 850px) {
  .hero-icon {
    padding: 0.1rem 1rem;
    font-size: 2rem;
    border-radius: 50%;
  }
  .hero > h1 {
    margin-top: 2rem;
    font-size: 3rem;
  }
  .hero > h4 {
    font-size: 1rem;
  }
}
/* ====== end of hero ====== */
/* ======= about section ======== */
.about-section {
  background: url(./img/photo-three.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* about card-one */
.about-card-one,
.about-card-two,
.about-card-three {
  margin: 10px 3rem;
}
.icon {
  font-size: 1.5rem;
  color: var(--clr-primery-light);
}
.card {
  margin-bottom: 10px;
}
.card > h4 {
  margin-bottom: 5px;
}
@media screen and (min-width: 350px) {
  .about-section {
    background: var(--clr-gray);
    height: 110vh;
  }
  .about-container {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 850px) {
  .about-section {
    background: url(./img/photo-three.jpg);
    height: 50vh;
  }
  .about-container {
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (min-width: 1150px) {
  .about-section {
    width: 100%;
  }
  .about-container {
    width: 70%;
    height: 40vh;
  }
}
